@page "/"
@inject MusicXmlScoreReader ScoreReader

<h1>NetNotes</h1>

<div style="border: 1px solid pink; font-size: 0;">
    <ScoreComponent Score="_displayScore" />
</div>

@code {
    [Parameter]
    public string MusicString { get; set; }

    private Score _displayScore;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (_displayScore == null)
        {
            _displayScore = ScoreReader.ParseFile("laetatus_sum.xml");
            StateHasChanged();
        }
    }
}